.form {
  &__input-name,
  &__button,
  &__select {
    cursor: pointer;
  }

  &__button {
    padding: 5px 10px;
    color: var($font-color);
    text-align: center;
    text-decoration: none;
    background-color: var($background-color);
    border-color: var($border-color);
  }

  &__input-name {
    &:hover {
      text-decoration: underline;
    }
  }
  @media screen and (max-width: $tablet-size) {
    &__radio,
    &__buttons {
      @include hidden-element;
    }
  }

  @media screen and (max-width: $desktop-size) and (min-width: $tablet-size) {
    &__radio,
    &__select {
      @include hidden-element;
    }
  }

  @media screen and (min-width: $desktop-size) {
    &__buttons,
    &__select {
      @include hidden-element;
    }
  }
}
