.gallery {
  &__title {
    margin: 15px;
    text-align: center;
  }

  &__photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7);
    grid-gap: 15px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  &__item--12 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 8;
  }
}
