.gallery {
  &__title {
    margin: 15px;
    text-align: center;
    text-transform: uppercase;
    animation: bounce-top 2s infinite both;
  }

  &__photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  &__img {
    width: $image-size;
    height: $image-size;
    object-fit: cover;
    transition: box-shadow 0.5s linear,
      transform 0.5s linear;

    &:hover {
      box-shadow: 0 0 15px var($font-color);
      transform: scale(1.02);
    }
  }

  @media screen and (max-width: $tablet-size) {
    &__item:nth-of-type(4n + 1) {
      grid-column: 1 / span 3;
    }
  }

  @media screen and (max-width: $desktop-size) and (min-width: $tablet-size) {
    &__item:nth-of-type(3n - 2) {
      grid-column: 1 / span 2;
      grid-row: span 2;
    }
  }

  @media screen and (min-width: $desktop-size) {
    &__photos {
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
    }

    &__item {
      &:first-of-type {
        grid-column: 1 / span 3;
        grid-row: 1 / span 3;
      }
  
      &:last-of-type {
        grid-column: 2 / span 3;
        grid-row: 5 / span 3;
      }
    }
  }
}

@keyframes bounce-top {
  0% {
    transform: translateY(-35px);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  24% {
    opacity: 1;
  }

  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }

  65% {
    transform: translateY(-16px);
    animation-timing-function: ease-in;
  }

  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }

  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
