.page {
  color: var($font-color);
  background-color: var($background-color);

  &__header {
    background-color: var($section-color);
    border-bottom: $border-size solid var($border-color);

    &__title {
      color: var($font-color);
    }
  }

  &__main {
    padding: 55px 15px;
  }

  &__footer {
    background-color: var($section-color);
    border-top: $border-size solid var($border-color);
  }

  &__popup {
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: $tablet-size) {
    &__main {
      padding-bottom: 85px;
    }
  }
}
