.social {
  &__link {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    width: $icon-size;
    height: $icon-size;
    background-size: cover;
    background-repeat: no-repeat;
    filter: var($icon-color);
    transition: transform 0.3s linear;

    &--instagram {
      background-image: url('../images/icons/instagram.png');
    }

    &--facebook {
      background-image: url('../images/icons/facebook.png');
    }

    &--twitter {
      background-image: url('../images/icons/twitter.png');
    }

    &--telegram {
      background-image: url('../images/icons/telegram.png');
    }

    &--youtube {
      background-image: url('../images/icons/youtube.png');
    }

    &--vk {
      background-image: url('../images/icons/vk.png');
    }

    &--email {
      background-image: url('../images/icons/email.png');
    }

    &:hover {
      transform: scale(1.3);
    }
  }
}
