.page {
  color: #fff;
  background-color: #484848;

  &__header,
  &__footer {
    background-color: #212121;
  }
}

.social {
  &__link {
    filter: invert(1);
  }
}

.contacts {
  &__link {
    color: #fff;
    text-decoration: underline;
  }
}
