@mixin section-positioning {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

@mixin hidden-element {
  display: none;
}

