$desktop-size: 1080px;
$tablet-size: 640px;

$icon-size: 25px;
$image-size: 100%;
$border-size: 3px;

//light-theme
$light-font-color: #000;
$light-background-color: #e2f1f8;
$light-section-color: #ccc;
$light-border-color: #869399;

//dark-theme
$dark-font-color: #fff;
$dark-background-color: #484848;
$dark-section-color: #212121;
$dark-border-color: #000;

//gray-theme
$gray-font-color: #fff;
$gray-background-color: #a4a4a4;
$gray-section-color: #757575;
$gray-border-color: #666;

$icon-black: invert(0);
$icon-white: invert(1);

$font-color: --font-color;
$background-color: --background-color;
$section-color: --section-color;
$border-color: --border-color;
$icon-color: --icon-color;

